
body {
    background-color: #050C35;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
}

h1 {
    margin: 0;
}

select {
    padding: 5px;
    font-size: 16px;
}

.skin-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}

.skin-item img {
    max-width: 100px;
}
